.social {
  padding-right: 20px;
}

.social__list {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  @media (min-width: $large-width) {
    width: 160px;
  }
}

.social__link {
  display: block;
  padding: 10px;
  border-radius: 4px;

  &:hover,
  &:focus {
    background-color: $sort-hover;
  }

  &:active {
    background-color: rgba(120, 89, 207, 0.25);
  }

  &:hover .social__link-icon path,
  &:focus .social__link-icon path,
  &:active .social__link-icon path {
    fill: $menu-color;
  }
}
