// Viewports

$large-width: 1440px;
$medium-width: 768px;
$small-width-only: 767px;

//colors

$white-color: #ffffff;
$black-color: #333333;
$lavander-line: #f0ebff;
$menu-color: #7859cf;
$flat-white: #f3ebe1;
$lavander: #eae6fc;
$espresso: #e5e6e8;

// resolution
$retina-resolution: 2dppx;
